leased-page-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.header {
	padding: 1%;

	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
}

/* h1 {
	text-align: center;
	margin: 1.5% 0 0 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: bold;
	text-transform: capitalize;
} */

.carousel {
	width: 40%;
	height: auto;
	padding: 1%;
}

.leased-pg-footer {
	position: bottom;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #464646;
	text-align: center;
	margin-top: 3%;
	vertical-align: middle;
	text-align: center;
	z-index: 0;
}
