@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Popins', sans-serif;
	color: #222;
	background-color: #dfdfdf;
}
.navbar-custom {
	background-color: #343a40;
}
#navbarResponsive {
	background-color: #343a40;
}
#navbarResponsive li {
	margin: 0 0 0 2%;
}

.navbar {
	height: 10%;
	padding: 1%;
}
.navbar-brand {
	font-family: 'Sriracha', cursive;
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
}
.navbar-nav li {
	padding-right: 0.8rem;
	text-transform: uppercase;
	font-size: 1rem;
}
.nav-link {
	font-size: 1.1em !important;
}

.attention {
	height: 70%;
	width: 100%;
	background-image: url(img/Downtown1.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text-slider {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #9212fd;

	overflow: hidden;
	font-weight: bold;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(255, 255, 255);
}

.item-1,
.item-2,
.item-3 {
	position: absolute;
	display: block;
	top: 2em;

	width: 60%;

	font-size: 2em;
	margin-top: 4em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1 {
	animation-name: anim-1;
}

.item-2 {
	animation-name: anim-2;
}

.item-3 {
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%,
	8.3% {
		left: -100%;
		opacity: 0;
	}
	8.3%,
	25% {
		left: 25%;
		opacity: 1;
	}
	33.33%,
	100% {
		left: 110%;
		opacity: 0;
	}
}

@keyframes anim-2 {
	0%,
	33.33% {
		left: -100%;
		opacity: 0;
	}
	41.63%,
	58.29% {
		left: 25%;
		opacity: 1;
	}
	66.66%,
	100% {
		left: 110%;
		opacity: 0;
	}
}

@keyframes anim-3 {
	0%,
	66.66% {
		left: -100%;
		opacity: 0;
	}
	74.96%,
	91.62% {
		left: 25%;
		opacity: 1;
	}
	100% {
		left: 110%;
		opacity: 0;
	}
}

/* [DOES NOT MATTER] */
/* html,
body {
	font-family: arial;
	background: #ffe9d8;
}
h1 {
	text-align: center;
} */

/* .carousel-container {
	height: 40vh;
	width: 100vw;
	background-color: #0b5198;
}

.carousel-inner img {
	max-height: 300px;
	max-width: 100vw;
}

.carousel-caption {
	position: absolute;
}
#slides {
	height: 30vh;
	width: 100vw;
} */

/* :root { */
/* --avatar-size: 19rem; */
/* change this value anything, e.g., 100px, 10rem, etc. */
/* } */

#nick {
	max-width: 3rem;
	height: auto;
	margin-right: 2%;
}

.nick-nav {
	display: flex;
	flex-direction: column;
}

.contact {
	background-color: #dfdfdf;
}

.first {
	font-size: 2em;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	/* padding-right: 5%;
	padding-bottom: 2%;
	margin-left: 9%; */
}

.testimony-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.testimony {
	font-size: 1.3rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: italic;
	text-align: center;
	padding-right: 0%;
	margin-left: 0%;
}

#words {
	background-color: #003278;
	color: rgb(240, 240, 240);
}

#message-btn {
	align-items: center;
}

/* start of testemony carousel  */

/* end of testemony carousel  */

.section-section {
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

section > * {
	flex: 1 1 250px;
}

.pic-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	vertical-align: middle;
	padding: 0% 0 0% 0;
}

.pic-container img {
	width: 70%;
	max-width: 600px;
	height: auto;
	border-radius: 5%;
	margin-left: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.contact-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 30%;
	height: 100%;
	padding: 1% 1% 1% 1%;
	/* border: solid 1px purple; */
	background-color: transparent;
	margin: 0 0 0 2%;
}

form,
label {
	display: flex;
	flex-direction: column;
	margin: 0 0 1% 0;
}

input {
	width: 100%;
	/* margin: 0 0 0.5% 0; */
}
#contact-form-titles {
	margin: 1% 0 1% 0;
}

#email-btn {
	height: 5em;
	width: 20%;
	color: green;
	margin: 1% 0 0 0;
}
#email-btn:hover {
	cursor: pointer;
	color: #9212fd;
}

.contact-section h1 {
	font-size: 3em;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bootstrap-iso .form-group button,
.bootstrap-iso form input.form-control,
.bootstrap-iso form textarea.form-control,
.bootstrap-iso form select.form-control,
.bootstrap-iso form .form-group-lg input.form-control,
.bootstrap-iso form .form-group-lg textarea.form-control,
.bootstrap-iso form .form-group-lg select.form-control,
.bootstrap-iso form .form-group-sm input.form-control,
.bootstrap-iso form .form-group-sm textarea.form-control,
.bootstrap-iso form .form-group-sm select.form-control {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color: #9212fd;
}
.bootstrap-iso form button,
.bootstrap-iso form button:hover {
	color: #ffffff !important;
}
.bootstrap-iso .btn-custom {
	background: #9212fd;
}
.bootstrap-iso .btn-custom:hover {
	background: #7e00e9;
}
.bootstrap-iso .form-control:focus {
	border-color: #9212fd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(146, 18, 253, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(146, 18, 253, 0.6);
}
.asteriskField {
	color: red;
}
.bootstrap-iso form .input-group-addon {
	color: #555555;
	/* background-color: #eeeeee; */
	border-radius: 20px;
	padding-left: 15px;
}
.bootstrap-iso {
	background-color: #dfdfdf;
}

.form-group {
	width: 500px;
}
#dropLine {
	font-family: 'Molle', cursive;
	text-align: center;
	margin: 5% 0 5% 0;
}

/* .contact-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: right;
	padding-right: 3%;
	font-size: 0.5em;
	height: 100%;
	width: 50%;
	border: 1px solid red;
} */

.email {
	font-size: 1.5em;
	color: rgb(0, 30, 255);
	margin-right: 1em;
	margin-left: 0.5em;
}

.email-container {
	height: 20%;
	width: 100%;
	color: #9212fd;
	display: flex;
	justify-content: right;
	align-items: right;
	margin: 7%;
	vertical-align: middle;
}

.eamil-container i {
	margin: 2em;
	vertical-align: middle;
}

.phone-container {
	height: 20%;
	width: 100%;
	color: #9212fd;
	display: flex;
	justify-content: right;
	align-items: right;
	flex-direction: row;
	padding: 7%;
}

.phone-container i {
	margin-right: 0.3em;
	vertical-align: middle;
}

.phone {
	font-size: 1.5em;
	color: rgb(0, 30, 255);
	margin-right: 1em;
}

footer {
	height: 7%;
	width: 100%;
	display: flex;
	flex-direction: row;
	position: bottom;
	justify-content: center;
	align-items: center;
	background-color: #464646;
	padding: 1em;
}

footer i {
	margin-right: 0.5em;
	color: rgb(228, 228, 228);
}

.footer-links {
	color: white;
	margin-right: 5%;
}

/* .circle {
	background-color: #ccc;
	background-image: url(img/nick.jpg);
	border-radius: 50%;
	height: var(--avatar-size);
	text-align: center;
	width: var(--avatar-size);
	margin-right: 12px;
} */

/* .initials {
	font-family: 'Nova Mono', monospace;
	font-size: calc(var(--avatar-size) / 2); 
	line-height: 1;
	position: relative;
	top: calc(var(--avatar-size) / 4); 
} */

/* About page */
.testimony-container span {
	cursor: pointer;
}

about-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

about-container img {
	border-radius: 50%;
	height: 70%;
	width: auto;
	margin: 2% 0% 3% 6%;
}

.about-page-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 60%;
	padding: 2% 3% 3% 4%;
}

.about-page-info h1 {
	text-align: center;
	margin-top: 6%;
	font-family: 'Abril Fatface', cursive;
	color: #0b5198;
}

.about-pg-contact {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
	border: 1px solid red;
}

#test-btn {
	width: 30%;
}

.about-pg-footer,
.about-page-footer img {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 9%;
	background-color: #464646;
	text-align: center;
	margin-top: 0 auto;
	vertical-align: middle;
	text-align: center;
	z-index: 0;
	justify-content: space-evenly;
}
.about-pg-footer i:hover {
	color: rgb(141, 0, 211);
}
.about-pg-footer img:hover {
	color: rgb(141, 0, 211);
}

/*---Media Queries --*/

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/*---Firefox Bug Fix --*/
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0 !important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/mac.png');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*='col-'] {
	padding: 1rem;
}

body {
	font-family: 'Lato', sans-serif;
}

label {
	color: #333;
}

.btn-send {
	font-weight: 30;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 1rem;
}

.help-block.with-errors {
	color: #ff5050;
	margin-top: 5px;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
